# Credentials
config.py
.env

# Virtual Environment
venv/
env/

# Data and Output
chroma_store/chroma_data/
output/markdown
data/input_docs/*.docx
output/markdown/*.md


# Python
__pycache__/
*.pyc

# IDE
.vscode/
*.swp
